section#clock {
  width: 324px;
  margin: 0 auto;
  padding-bottom: 40px;

  .top-text {
    margin: 0;
    display: flex;

    img.icon {
      width: 24px;
      height: 24px;
    }

    .good {
      margin-left: 16px;
      letter-spacing: 3px;
      font-size: 15px;
      line-height: 25px;
      text-transform: uppercase;
    }
  }

  .hour {
    margin: 16px 0;
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -2.5px;

    .more-hour {
      padding-left: 5px;
      font-weight: 300;
      font-size: 15px;
      line-height: 28px;
      letter-spacing: 0;
    }
  }

  .localisation {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  section#clock {
    width: 499px;
    margin-left: 64px;

    .top-text {

      .good {
        letter-spacing: 3.6px;
        font-size: 18px;
        line-height: 28px;
      }
    }

    .hour {
      margin: 0;
      font-size: 175px;
      line-height: 175px;
      letter-spacing: -4.375px;
  
      .more-hour {
        padding-left: 11px;
        font-size: 32px;
      }
    }

    .localisation {
      font-size: 18px;
      letter-spacing: 3.6px;
    }
  }
}
/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  section#clock {
    width: 499px;
    margin: 0 auto;
  }
}