body {

    footer.more {
        padding: 48px 26px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 16px;

        .in-footer {
            display: flex;
            justify-content: space-between;

            .title {
                font-size: 10px;
                line-height: 28px;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            .info {
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    &.light {
        footer.more {
            background: rgba(255, 255, 255, 0.75);
            backdrop-filter: blur(40.7742px);
            color: $grey;
        }
    }

    &.dark {
        footer.more {
            background: rgba(0, 0, 0, 0.75);
            backdrop-filter: blur(40.7742px);
            color: $white;
        }
    }
}