body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: $white;
  height: 667px;

  &.light {
    background: url("../assets/mobile/bg-image-daytime.jpg") no-repeat center, rgba($black, 0.4);
  }

  &.dark {
    background: url("../assets/mobile/bg-image-nighttime.jpg") no-repeat, rgba($black, 0.4);
  }

  #root {
    background: rgba($black, 0.4);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &.more {
      justify-content: space-between;
    }

    &.less {
      justify-content: flex-end;
    }
  }
}
/**
* ? Tablet
*/
@media (min-width: 768px) {
  body {
    height: 1024px;

    &.light {
      background: url("../assets/tablet/bg-image-daytime.jpg") no-repeat center, rgba($black, 0.4);
    }

    &.dark {
      background: url("../assets/tablet/bg-image-nighttime.jpg") no-repeat center, rgba($black, 0.4);
    }

    #root {
      max-height: 1024px;
    }
  }
}
/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  body {
    height: 800px;

    &.light {
      background: url("../assets/desktop/bg-image-daytime.jpg") no-repeat center, rgba($black, 0.4);
    }

    &.dark {
      background: url("../assets/desktop/bg-image-nighttime.jpg") no-repeat center, rgba($black, 0.4);
    }

    #root {
      max-height: 800px;
    }
  }
}
