header#header-quote {
  width: 324px;
  margin: 0 auto;
  display: grid;
  padding-top: 32px;
  grid-template-columns: auto 18px;
  grid-template-rows: 1fr;

  #quote-content {
    margin: 0 0 8px;
    font-size: 12px;
    line-height: 22px;
  }

  #quote-author {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
  }

  #refresh-icon {
    cursor: pointer;
  }
}
/**
* ? Tablet
*/
@media (min-width: 768px) {
  header#header-quote {
    width: 573px;
    padding: 80px 131px 0 64px;

    #quote-content {
      margin-bottom: 13px;
      font-size: 18px;
      line-height: 28px;
    }

    #quote-author {
      font-size: 18px;
      line-height: 28px;
    }
  }
}